/* * {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v1_6 {
    width: 100%;
    height: 683px;
    background: rgba(98,209,244,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_4 {
    width: 645px;
    height: 314px;
    background: rgba(234,215,145,1);
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 339px;
    border: 0px solid rgba(0,0,0,1);
  }
  .v2_2 {
    width: 173px;
    height: 166px;
    background: url("../images/v2_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 8px;
    overflow: hidden;
  }
  .v1_3 {
    width: 480px;
    height: 423px;
    background: url("../images/v1_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 187px;
    left: 235px;
    overflow: hidden;
  } */



  .v5_6: hover{
    background: url("./images/upper body separate.png"); 
  }

  .